/* ---- Header Container ---- */
.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    height: 70px;
    position: relative;
    width: 100%;
    margin-top: 5px;
  }
  

  .logo {
    max-width: 70px; 
    height: 50px; 
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
    padding: 4px;
  }
