.container {
    padding: 20px;
    display: flex;
    background-color: rgb(255, 249, 245);
    flex-direction: column;
    flex-wrap: wrap;
    animation: blinkCard 1s infinite alternate;

  }
  h2{
    color: red;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .card {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 5px;
  }
  

  @keyframes blinkCard {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }