/* Container Styles */


/* Select Styles */
select {
  width: auto;
  padding: 8px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
}

@media (min-width: 768px) {
  select {
    min-width: auto; /* Adjust as needed */
  }

}
