.snackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.error {
  background-color: #f44336; /* Red */
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; /* Add some space between messages */
}

.success {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; /* Add some space between messages */
}


.welcomeMessage {
  background-color: #6495ed; 
  padding: 20px;
  border-radius: 5px;
  color: whitesmoke;

}