<div class="container" [style.flex-direction]="flexDirection">

  <div class="row">
    <div *ngFor="let todo of todos.slice(0, 4)">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ todo.title }}</h5>
          <p class="card-text">{{ todo.description }}</p>
          <p class="card-text">Priority: {{ todo.priority }}</p>
          <p class="card-text">Due Date: {{ todo.dueDate | date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notask>
<h3>No High Priority tasks</h3>
</ng-template>
